.wrapper {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: var(--default-header-height);
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   background-color: var(--white);
}

.logo {
   display: flex;
   align-items: center;
   img {
      width: 90px;
      margin-right: 10px;
   }
}
